.Reloj{
    font-family: Arial, Helvetica, sans-serif;
}

button{
    background-color: white;
    transition: 0.4s;
    border: 1px solid rgb(84, 153, 199);
    border-radius: 4px;
    width: 100px;
    height: 100px;
}
button:hover{
    background-color: rgb(84, 153, 199);
    transition: 0.4s;
}